@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce.styles.css" asp-append-version="true" />
    <style>
        a {
            color: black;
        }
        img:hover{
            background-color: #1D1D1B;
            transform: scale(1.15);
            transition: 0.7s ease;
        }
        a:hover{
            background-color: rgb(50, 50, 54);
            transform: scale(1.15);
            transition: 0.7s ease;
        }
        button {
            border-radius: 15px;
        }
        #S{
            border-radius: 15px 0px 0px 15px;
            border-width: thin;
        }
        #S:hover 
        {
            background-color: rgb(149, 4, 105);
            transform: scale(1.15);
            transition: 0.7s ease;
        }
        #S:hover a
        {
            background-color: rgb(255, 0, 179);
            transform: scale(1);
            transition: 0.7s ease;
        }
        #D{
            border-radius: 0px 15px 15px 0px;
            border-width: thin;
        }
        #D:hover 
        {
            background-color: rgb(0, 255, 0);
            transform: scale(1.15);
            transition: 0.7s ease;
        }
        #D:hover a
        {
            background-color: rgb(0, 255, 0);
            transform: scale(1);
            transition: 0.7s ease;
        }
        #L:hover 
        {
            background-color: rgb(147, 11, 11);
            transform: scale(1.15);
            transition: 0.7s ease;
        }
        #L:hover a
        {
            background-color: rgb(255, 0, 0);
            transform: scale(1);
            transition: 0.7s ease;
        }
        #log-btn{
            display: flex;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #1D1D1B;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="logo.png" style="width: 95px;" alt="Virtual World">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color: white;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy" style="color: white;">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Game" asp-action="Index" style="color: white;">Game</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="log-btn">
                @{
                    if(HttpContextAccessor?.HttpContext?.Session.GetString("Login")==null || HttpContextAccessor?.HttpContext?.Session.GetString("Login")=="no")
                    {
                        <button class="nav-item" id="S" style="background-color: rgb(255, 2, 179);">
                            <a class="nav-link" style="color: black;"asp-area="" asp-controller="User" asp-action="Create">Sign-In</a>
                        </button>
                        <button class="nav-item" id="D" style="background-color: rgb(0, 255, 0);">
                            <a class="nav-link" style="color: black;" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                        </Button>
                    }
                    if(HttpContextAccessor?.HttpContext?.Session.GetString("Login")=="si")
                    {
                        <button class="nav-item" id="L" style="background-color: rgb(255, 0, 0);">
                            <a class="nav-link" style="color: black;" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                        </button>
                    }
                }
                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
