@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
    if(HttpContextAccessor?.HttpContext?.Session.GetString("Login")=="si")
    {
        <div class="text-center">
            @HttpContextAccessor?.HttpContext?.Session.GetString("Username")<br>
            @HttpContextAccessor?.HttpContext?.Session.GetString("Login")
        </div>
    }
    <img src="Img/Tail.jpg" alt="Fairy Tail" width="128" height="128">
    <a asp-controller="Game" asp-action="Index">Dettagli</a>
    <br>
    <br>
    <br>
    <br>
    <img src="Img/Xenoverse.jpg" alt="Dragon Ball Xenoverse XV" width="128" height="128">
    <a asp-controller="Game" asp-action="Index">Dettagli</a>
    <br>
    <br>
    <br>
    <br>
    <img src="Img/violetto.jpg" alt="Dragon Ball Xenoverse XV" width="128" height="128">
    <a asp-controller="Game" asp-action="Index">Dettagli</a>
}


