@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>La tua privacy è importante per noi. È politica di ECommerce rispettare la tua privacy riguardo a qualsiasi informazione che possiamo raccogliere durante l'operatività del nostro sito web.<br>

<br>Chiediamo alcune informazioni personali quando utilizzi il nostro sito web, ma assicuriamo che queste informazioni verranno utilizzate solo in conformità con quanto stabilito nella presente dichiarazione sulla privacy.<br>

<br>Quali informazioni raccogliamo:<br>

<br>- Nome e cognome<br>
<br>- Indirizzo email<br>
<br>- informazioni personali come codice fiscale, data di nascita, sesso<br>
<br>- Altre informazioni rilevanti per sondaggi e/o offerte<br>

<br>Cosa facciamo con le informazioni che raccogliamo:<br>

<br>Le informazioni che raccogliamo sono necessarie per capire le tue esigenze e fornirti un miglior servizio, in particolare per i seguenti motivi:<br>

<br>- Mantenere un registro interno.<br>
<br>- Utilizzare le informazioni per migliorare i nostri prodotti e servizi.<br>
<br>- Inviarti periodicamente email promozionali sulle novità, offerte speciali o altre informazioni che riteniamo possano interessarti, utilizzando l'indirizzo email che hai fornito.<br>

<br>Sicurezza:<br>

<br>Ci impegniamo a garantire che le tue informazioni siano sicure. Al fine di prevenire l'accesso non autorizzato o la divulgazione, abbiamo messo in atto procedure fisiche, elettroniche e gestionali appropriate per salvaguardare e proteggere le informazioni che raccogliamo online.<br>

<br>Come utilizziamo i cookie:<br>

<br>Un cookie è un piccolo file che chiede il permesso di essere posizionato sul disco rigido del tuo computer. Una volta che accetti, il file viene aggiunto e il cookie aiuta a analizzare il traffico web o ti permette di sapere quando visiti un sito specifico.

Utilizziamo i cookie per analizzare i dati sul traffico web e migliorare il nostro sito web al fine di adattarlo alle esigenze del cliente. Utilizziamo queste informazioni solo per fini di analisi statistica e quindi i dati vengono rimossi dal sistema.

Complessivamente, i cookie ci aiutano a fornirti un sito web migliore, permettendoci di monitorare quali pagine trovi utili e quali no. Un cookie non ci dà in alcun modo accesso al tuo computer o a qualsiasi informazione su di te, a parte i dati che scegli di condividere con noi.

Puoi scegliere di accettare o rifiutare i cookie. La maggior parte dei browser accetta automaticamente i cookie, ma di solito è possibile modificare le impostazioni del browser per rifiutarli se preferisci. Tuttavia, questo potrebbe impedirti di sfruttare appieno il sito web.<br>

<br>Link ad altri siti web: <br>

<br>Il nostro sito web può contenere collegamenti ad altri siti di interesse. Tuttavia, una volta che hai utilizzato questi collegamenti per lasciare il nostro sito, dovresti notare che non abbiamo alcun controllo su quel sito web. Pertanto, non possiamo essere responsabili per la protezione e la privacy di qualsiasi informazione che fornisci mentre visiti tali siti e tali siti non sono regolati da questa dichiarazione sulla privacy. Dovresti fare attenzione e consultare l'informativa sulla privacy applicabile al sito web in questione.<br>

<br>Controllo delle tue informazioni personali:<br>

<br>Puoi scegliere di limitare la raccolta o l'uso delle tue informazioni personali nei seguenti modi:<br>

<br>- Quando ti viene chiesto di compilare un modulo sul sito web, cerca la casella che puoi fare clic per indicare che non desideri che le informazioni siano utilizzate da nessuno per fini di marketing diretto.<br>
<br>- Se hai già acconsentito in precedenza all'uso delle tue informazioni personali per scopi di marketing diretto, puoi cambiare idea in qualsiasi momento scrivendo o inviandoci un'email all'indirizzo indicato in fondo alla presente politica sulla privacy.<br>

<br>Non venderemo, distribuiremo o affitteremo le tue informazioni personali a terzi a meno che non abbiamo il tuo permesso o siamo tenuti per legge a farlo. Potremmo utilizzare le tue informazioni personali per inviarti informazioni promozionali su terze parti che pensiamo possano interessarti se ci dici che desideri che ciò accada.

Puoi richiedere i dettagli delle informazioni personali che abbiamo su di te in base alla Legge sulla protezione dei dati del 1998. Una piccola tassa sarà dovuta. Se desideri una copia delle informazioni detenute su di te, scrivici all'indirizzo email indicato in fondo alla presente politica sulla privacy.

Se ritieni che qualsiasi informazione che stiamo tenendo su di te sia errata o incompleta, scrivici il prima possibile all'indirizzo email indicato in fondo alla presente politica sulla privacy. Corrigeremo prontamente qualsiasi informazione ritenuta errata.<br>

<br>Consenso:<br>

<br>Utilizzando il nostro sito web, acconsenti alla nostra politica sulla privacy e accetti di rispettarla.<br>

<br>Modifiche alla nostra politica sulla privacy:<br>

<br>Qualsiasi modifica alla nostra politica sulla privacy verrà pubblicata su questa pagina.</p>