@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5 {
  color: #333;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ccc;
}  
</style>
<h1>@ViewData["Title"]</h1>

Questa Politica sulla Privacy descrive come Virtual World raccoglie, utilizza e divulga le informazioni personali degli utenti del nostro sito web. Si prega di leggere attentamente questa Politica sulla Privacy prima di utilizzare il nostro sito web o di fornirci qualsiasi informazione personale.

<br><h1>Raccolta delle Informazioni Personali</h1><br>

Raccogliamo informazioni personali dagli utenti in vari modi, inclusi, ma non limitati a, quando gli utenti visitano il nostro sito, effettuano un ordine, compilano un modulo, rispondono a un sondaggio e in relazione ad altre attività, servizi, funzionalità o risorse che mettiamo a disposizione sul nostro sito. Gli utenti possono essere richiesti, a seconda del caso, di fornire il proprio nome, indirizzo email, indirizzo postale, numero di telefono, informazioni sulla carta di credito e altre informazioni personali.

<br><h1>Utilizzo delle Informazioni Personali</h1><br>

Utilizziamo le informazioni personali degli utenti per i seguenti scopi:

- Per elaborare e completare gli ordini: Utilizziamo le informazioni fornite dagli utenti per elaborare gli ordini e fornire i prodotti acquistati.
- Per inviare comunicazioni periodiche: Utilizziamo l'indirizzo email fornito dagli utenti per inviare loro informazioni e aggiornamenti relativi ai loro ordini. Potrebbe anche essere utilizzato per rispondere alle loro richieste, domande e/o altre richieste.
- Per migliorare il servizio clienti: Le informazioni che ci fornisci ci aiutano a rispondere in modo più efficiente alle tue richieste di servizio clienti e supporto.
- Per personalizzare l'esperienza utente: Possiamo utilizzare le informazioni in modo aggregato per capire meglio come i nostri utenti come gruppo utilizzano i servizi e le risorse fornite sul nostro sito.
- Per migliorare il nostro sito: Utilizziamo i feedback forniti dagli utenti per migliorare i nostri prodotti e servizi.
- Per effettuare promozioni, concorsi, sondaggi o altre funzionalità del sito: Possiamo utilizzare le informazioni degli utenti per inviare loro informazioni su promozioni, concorsi, sondaggi e altre funzionalità del sito.

<br><h1>Protezione delle Informazioni</h1><br>

Adottiamo adeguate pratiche di raccolta, archiviazione e trattamento dei dati e misure di sicurezza per proteggere contro l'accesso non autorizzato, l'alterazione, la divulgazione o la distruzione delle tue informazioni personali, nome utente, password, informazioni sulla transazione e dati memorizzati sul nostro sito.

**Condivisione delle Informazioni Personali**

Non vendiamo, scambiamo o affittiamo le informazioni personali degli utenti a terzi. Possiamo condividere informazioni demografiche aggregate generiche non collegate a informazioni personali identificabili sugli utenti con i nostri partner commerciali, affiliati fidati e inserzionisti per i fini sopra descritti.

<br><h1>Modifiche a questa Politica sulla Privacy</h1><br>

Ci riserviamo il diritto di aggiornare questa politica sulla privacy in qualsiasi momento. Quando lo facciamo, riviseremo la data di aggiornamento nella parte inferiore di questa pagina. Encoraggiati a controllare periodicamente questa pagina per verificare eventuali modifiche e rimanere informato su come stiamo proteggendo le informazioni personali che raccogliamo. L'utente riconosce e accetta che è sua responsabilità rivedere periodicamente questa politica sulla privacy e di essere consapevole delle modifiche.

<br><h1>Il tuo consenso</h1><br>

Utilizzando questo sito, l'utente accetta la nostra politica sulla privacy. Se non si accetta questa politica, si prega di non utilizzare il nostro sito. L'utilizzo continuato del sito dopo la pubblicazione delle modifiche a questa politica sarà considerato come l'accettazione di tali modifiche.

<br><h1>Contattaci</h1><br>

Se hai domande su questa Politica sulla Privacy, le pratiche di questo sito o le tue interazioni con questo sito, ti preghiamo di contattarci a:

<h5>Via camponi 13, RN</h5>
<h5>3357897922</h5>
<h5>virtualworld@gmail.com</h5>
